<section class="image-head-wrapper">
  <img src="/assets/images/banner.jpg" alt="">
  <div class="box">
    <div class="inner-wrapper">
      <h1 class="m-0">Rooms</h1>
    </div>
  </div>
</section>

<section class="c-rooms">
  <div class="container">
    <div class="d-flex justify-content-end  my-3">
      <div ngbDropdown class="d-inline-block">
        <mat-icon ngbDropdownToggle class="c-iconFilter">filter_alt</mat-icon>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Avaible Rooms</button>
          <hr />
          <mat-form-field appearance="outline" class="mx-2">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                formControlName="checkinTime"
                name="dateStart"
                placeholder="Start date"
                required
              />
              <input
                matEndDate
                formControlName="checkoutTime"
                name="dateEnd"
                placeholder="End date"
                required
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row row-cols-3">
      <div class="col" *ngFor="let room of roomList,let odd = odd,let even = even">
        <div class="card shadow-sm c-crd m-2">
          <img class="img card-img-top" src="{{ room.picture }}" />
          <div class="card-body">
            <h2 class="card-text">
              {{ room.roomType }}
            </h2>
            <div class="d-flex flex-row-reverse justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  [routerLink]="['/rooms/', room.id]"
                  class="btn btn-sm btn-outline-secondary"
                >
                  View
                </a>
              </div>
              <small class="text-muted"> {{ room.price | currency }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
