<section
  class="image-head-wrapper"
  style="background-image: url('assets/images/banner.jpg')"
>
  <div class="inner-wrapper">
    <h1 class="pe-5">Rooms</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="gallery-block gallery-front">
  <div class="container">
    <div class="row" >
      <div class="col" *ngFor="let room of roomList;">
        <div class="card shadow-sm">
          <img class="img card-img-top" src={{room.photos}} />
          <div class="card-body">
            <h2 class="card-text">
              {{room.roomType}}
            </h2>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a  [routerLink]="['/rooms/',room.id]" class="btn btn-sm btn-outline-secondary">
                  View
                </a>
              </div>
              <small class="text-muted"> {{room.price | currency}}</small>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
