<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 width-set-50">
          <div class="footer-details">
            <h4>Get in touch</h4>
            <ul class="list-unstyled footer-contact-list">
              <li>
                <i class="fa fa-map-marker fa-lg"></i>
                <p>701 Old York Drive Richmond USA.</p>
              </li>
              <li>
                <i class="fa fa-phone fa-lg"></i>
                <p><a href="tel:+1-202-555-0100"> +1-202-555-0100</a></p>
              </li>
              <li>
                <i class="fa fa-envelope-o fa-lg"></i>
                <p><a href="mailto:demo@info.com"> demo@info.com</a></p>
              </li>
            </ul>
            
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 width-50 width-set-50">
          <div class="footer-details">
            <h4>explore</h4>
            <ul class="list-unstyled footer-links">
              <li class="active"><a>Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="rooms.html">Rooms</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="#">Dinning</a></li>
              <li><a href="news.html">News</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </footer>
