<footer>
    <div class="container">
      <div class="d-flex flex-column w-100 justify-content-center">
        <div class="c-lgo text-center mb-4">
          <img src="/assets/svgs/Hotel_Heaven2.svg" alt="">
        </div>
        <hr>
        <div class="row justify-content-center">
          <div class="col text-center">
            <div class="footer-details">
              <h4>Get in touch</h4>
              <ul class="list-unstyled footer-contact-list">
                <li class="d-flex justify-content-center">
                  <mat-icon>map</mat-icon>
                  <p class="ps-3">701 Old York Drive Richmond USA.</p>
                </li>
                <li class="d-flex justify-content-center"> 
                  <mat-icon>call</mat-icon>
                  <p class="ps-3"><a href="tel:+1-202-555-0100"> +1-202-555-0100</a></p>
                </li>
                <li class="d-flex justify-content-center">
                  <mat-icon>mail</mat-icon>
                  <p class="ps-3"><a href="mailto:demo@info.com"> demo@info.com</a></p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col text-center">
            <div class="footer-details">
              <h4>explore</h4>
              <ul class="list-unstyled footer-links">
                <li ><a href="#">Home</a></li>
                <li><a [routerLink]="'about'">About</a></li>
                <li><a [routerLink]="'rooms'">Rooms</a></li>
                <li><a [routerLink]="'contact'" >Contact</a></li>
              </ul>
            </div>
          </div>
  
        </div>
      </div>
      
    </div>
  </footer>
