.show {
    display: block;
}
.hide{
    display: none;
}
.top{
    height: 40px;
}
.mat-icon{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icons{
    height: 200px;
    &::before{
        width: 50px;
        font-size: 40px;
    }
}