<table class="mx-auto w-100  border border-1">
    <tr class="border-bottom">
      <th class="ps-1">id</th>
      <th class="ps-1">Room id</th>
      <th class="ps-1">User FirstName</th>
      <th class="ps-1">User LastName</th>
      <th class="ps-1">User PhoneNumber</th>
      <th class="ps-1">Check-in Time</th>
      <th class="ps-1">Check-Out Time</th>
    </tr>
  
    <tr *ngFor="let reserv of Reservation,let odd = odd,let even = even" [ngClass]="odd ? 'odd':'even'">
      <td>{{ reserv.id }}</td>
      <td>{{ reserv.room_id }}</td>
      <td>{{ reserv.user_firstName }}</td>
      <td>{{ reserv.user_lastName }}</td>
      <td>{{ reserv.user_phoneNumber }}</td>
      <td>{{ reserv.checkinTime | date }}</td>
      <td>{{ reserv.checkoutTime | date }}</td>
      <td>
        <a class="btn btn-outline-info w-100" [routerLink]="[reserv.id]">
          <div class="d-flex justify-content-center align-items-center">
            <mat-icon aria-hidden="false" fontIcon="edit_note"></mat-icon>
          </div>
        </a>
      </td>
      <td>
        <button
          class="btn btn-outline-danger w-100"
          (click)="handleDelete(reserv.id)"
        >
          <div class="d-flex justify-content-center align-items-center">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </div>
        </button>
      </td>
    </tr>
  </table>
  