<table class="mx-auto w-100 border border-2">
  <tr class="border border-2">
    <th class="ps-1">id</th>
    <th class="ps-1">Type</th>
    <th class="ps-1">Price</th>
    <th class="ps-1">Date Added</th>
    <th class="ps-1">Rating</th>
  </tr>

  <tr *ngFor="let room of rooms,let odd = odd,let even = even" [ngClass]="odd ? 'odd':'even'">
    <td>{{ room.id }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency }}</td>
    <td>{{ room.date_added | date }}</td>
    <td>{{ room.rating | number : "1.1-2" }}</td>
    <td>
      <a class="btn btn-outline-info w-100" [routerLink]="[room.id]">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon aria-hidden="false" fontIcon="edit_note"></mat-icon>
        </div>
      </a>
    </td>
    <td>
      <button
        class="btn btn-outline-danger w-100"
        (click)="handleDelete(room)"
      >
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
        </div>
      </button>
    </td>
  </tr>
</table>
