<table class="mx-auto w-100 border border-2">
  <tr class="border border-2">
    <th>id</th>
    <th>Type</th>
    <th>Price</th>
    <th>CheckIn Time</th>
    <th>Rating</th>
  </tr>

  <tr *ngFor="let room of rooms">
    <td>{{ room.id }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency }}</td>
    <td>{{ room.checkinTime | date }}</td>
    <td>{{ room.rating | number : "1.1-2" }}</td>
    <td>
      <a class="btn btn-outline-info w-100" [routerLink]="[room.id]">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon aria-hidden="false" fontIcon="edit_note"></mat-icon>
        </div>
      </a>
    </td>
    <td>
      <button
        class="btn btn-outline-danger w-100"
        (click)="handleDelete(room.id || '2')"
      >
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
        </div>
      </button>
    </td>
  </tr>
</table>
