<div class="container d-flex justfy-content-center align-items-center h-50">
    <div class="row  g-3 w-100 mx-auto">
      <div class="col">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <h1 class="card-text">Room Type </h1>
            <div class="d-flex justify-content-center align-items-center">
              <div class="btn-group w-100">
                <button type="button" class="btn btn-outline-secondary " [routerLink]= "'type'">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm text-center">
            <div class="card-body">
              <h1 class="card-text">Room List </h1>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-outline-secondary " [routerLink]= "'list'">View</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
