<section class="c-roomView">
  <div class="container my-5">
    <div class="c-roomView_top">
      <img
        src="/assets/images/banner.jpg"
        class="rounded w-100 c-roomView_top_Img shadow"
        alt=""
      />
      <div
        class="c-roomView_top_info1 d-flex flex-column justify-content-center align-items-center"
      >
        <h2 class="c-roomView_top_info1_rating d-flex align-items-center"><span>Rating : </span> {{ room.rating | number : "1.1-1" }} <mat-icon>star</mat-icon></h2>
        <h2 class="c-roomView_top_info1_price"><span>Price : </span> {{ room.price | currency }}</h2>
      </div>
    </div>

    <div class="c-roomView_info px-md-5 py-4">
      <div
        class="c-roomView_info_header d-flex justify-content-between align-items-center mb-5"
      >
        <h2>{{ room.roomType }}</h2>
        <div class="d-flex flex-column text-center">
          <button class="custom-btn btn-6" (click)="openDialog()">
            <span>Book Room</span>
          </button>
        </div>
      </div>

      <div class="c-roomView_info_description mb-5">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia magni
          magnam non suscipit nulla doloremque id possimus cupiditate. Neque
          tenetur dolor maxime laboriosam aperiam voluptatibus! Nostrum error
          quisquam expedita fugit assumenda alias similique eos id adipisci
          recusandae perferendis ad quos corporis, doloribus tenetur blanditiis
          incidunt enim. Libero autem, laborum voluptas a illo ea non
          consectetur saepe esse alias consequatur, incidunt iure commodi
          placeat molestiae dolore? Reiciendis, obcaecati. Labore omnis facere
          voluptatibus, consectetur at minima dignissimos unde commodi amet
          nihil optio officia error non. Impedit vel laboriosam velit eaque, aut
          ipsa! Culpa, voluptas eveniet. Ab corporis incidunt quisquam delectus
          tenetur placeat quidem fuga nostrum voluptatibus, ut accusamus beatae
          provident reiciendis explicabo, aspernatur facere itaque rerum!
          Perspiciatis esse fugiat suscipit soluta quam quibusdam dolorem
          adipisci eos cum, tempora aliquam vel quia qui explicabo quaerat
          aliquid laborum facere ipsum quas ipsam totam, molestiae numquam!
          Ratione quis doloremque et mollitia magnam repudiandae animi
          blanditiis delectus.
        </p>
      </div>

      <h2>Services :</h2>
      <div
        class="c-roomView_info_services row row-cols-4 gy-4 gx-2  my-5"
      >
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-center align-items-end">
            <mat-icon>wifi</mat-icon>
            <p class="ps-3">Wifi</p>
          </div>
        </div>
      </div>


      
      <h2>Pictures :</h2>
      <ngx-masonry>
        <div
        class="c-roomView_info_pictures row row-cols-md-3 row-col-2 gy-4 my-4">
        <div class="col" ngxMasonryItem *ngFor="let image of masonryImages" >
          <a>
            <img
              [src]="image"
              class="rounded c-roomView_mainImg shadow"
              alt=""
            />
          </a>
        </div>
      </div>
      </ngx-masonry>
      
    </div>
    <hr />
    <div class="c-roomView_reviews px-3">
      <h2 class="mb-3">Customer Reviews :</h2>
      <ul>
        <li>
          <div class="c-roomView_reviews_review">
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="user_img">
                  <img src="/assets/images/client1.png" alt="">
                </div>
                <div class="user_info">
                  <h3>userName</h3>
                  <h4>user21@gmail.com</h4>
                </div>
              </div>

              <div class="d-flex align-items-center">
                <h3 class="user_hederRate">Rating :</h3>
                <div class="user_rate ps-2">
                  <h4>4.5/5 <mat-icon>star</mat-icon></h4>
                </div>
              </div>
            </div>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, repellat non voluptatibus quas vel doloremque. Blanditiis earum accusamus quis voluptatibus!</p>
            
            
            <hr>
            <div class="d-flex justify-content-between btns">
              <div class="btns_left d-flex flex-row">
                <button class="right-line">Comments</button>
                <div class="btns_left_react ps-4 text-center">
                  <p>is it Helpfull?</p>
                  <button>Like</button>
                  <button>DisLike</button>
                </div>
              </div>
              
              <div class="btns_right">
                <p class="btns_right_date">20 jun 2023</p>
              </div>
            </div>
          </div>
          <ul>
            <li>
              <div class="c-roomView_reviews_review c-comment">
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="user_img">
                      <img src="/assets/images/client1.png" alt="">
                    </div>
                    <div class="user_info">
                      <h3>userName</h3>
                      <h4>user21@gmail.com</h4>
                    </div>
                  </div>
    
                  <div class="d-flex align-items-center">
                    <h3 class="user_hederRate">Rating :</h3>
                    <div class="user_rate ps-2">
                      <h4>4.5/5 <mat-icon>star</mat-icon></h4>
                    </div>
                  </div>
                </div>
    
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, repellat non voluptatibus quas vel doloremque. Blanditiis earum accusamus quis voluptatibus!</p>

                <hr>
                <div class="d-flex justify-content-between btns">
                  <div class="btns_left d-flex flex-row">
                    <button class="right-line">Comments</button>
                    <div class="btns_left_react ps-4 text-center">
                      <p>is it Helpfull?</p>
                      <button>Like</button>
                      <button>DisLike</button>
                    </div>
                  </div>
                  
                  <div class="btns_right">
                    <p class="btns_right_date">20 jun 2023</p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      
    </div>
  </div>
</section>
