<div id="page">
  <div id="myCarousel1" class="carousel slide min-vh-100" data-ride="carousel">
    <!-- Indicators -->
    <div class="header-main">
      <h1 class="text-center pe-5 mb-4">
        The Best Hotel <span>With The Best Deals</span>
      </h1>
    </div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner.png"
            class="w-100 min-vh-100"
            alt="Random first slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- 
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner2.png"
            class="w-100 min-vh-100"
            alt="Random second slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- <h2>Second slide label</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner3.png"
            class="w-100 min-vh-100"
            alt="Random third slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- <h2>Third slide label</h2>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <section class="grating container py-3 "> 
    <div class="row align-items-center h-100">
      <div class="col-5 grating_txt">
        <h1 class="pb-4">Welcome to Our hotel</h1>
        <p class="pb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          minima, harum fuga, ipsam officia temporibus, nostrum et tempore
          consequuntur beatae consectetur. Necessitatibus minima, dignissimos
          quas ea soluta mollitia ab distinctio.
        </p>
        <button>Reade More -></button>
      </div>

      <div class="col-7 grating_picture ">
        <img
          alt="image"
          class="img c-img1"
          src="/assets/images/banner.jpg"
        />
        <div class="second-img">
          <img
          alt="image"
          class="img c-img2"
          src="/assets/images/banner.png"
        />
        </div>
      </div>
    </div>
  </section>

  <!--service block--->
  <section class="service-block ">
    <div class="container c-services">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/wifi.png"
              />
            </div>
            <h4><a>free wifi</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 width-50">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/key.png"
              />
            </div>
            <h4><a>room service</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/car.png"
              />
            </div>
            <h4><a>free parking</a></h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/user.png"
              />
            </div>
            <h4><a>customer support</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--gallery block--->
  <section class="gallery-front">
    <div class="container">
      <div class="hedr text-center py-5">
        <h1>High Rating Rooms</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolor illo consequatur deserunt reiciendis, sint nulla adipisci laudantium dignissimos sequi.</p> 
      </div>
      <div class="row py-4">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="w-100" src="/assets/images/room1.png" />
            <div class="overlay">
              <a
                class="info pop example-image-link img-responsive"
                href="/assets/images/room1.png"
                data-lightbox="example-1"
                ><mat-icon>search</mat-icon></a
              >
              <p><a>delux room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="w-100" src="/assets/images/room2.png" />
            <div class="overlay">
              <a
                class="info pop example-image-link img-responsive"
                href="/assets/images/room2.png"
                data-lightbox="example-1"
                ><mat-icon>search</mat-icon></a
              >
              <p><a>super room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="w-100" src="/assets/images/room3.png" />
            <div class="overlay">
              <a
                class="info pop example-image-link"
                href="/assets/images/room3.png"
                data-lightbox="example-1"
                ><mat-icon>search</mat-icon></a
              >
              <p><a>single room</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="gallery-image">
            <img class="w-100" src="/assets/images/room4.png" />
            <div class="overlay">
              <a
                class="info pop example-image-link img-responsive"
                href="/assets/images/room4.png"
                data-lightbox="example-1"
                ><mat-icon>search</mat-icon></a
              >
              <p><a>double room</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--offer block-->
  <section class="vacation-offer-block">
    <div class="vacation-offer-bgbanner">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="vacation-offer-details">
              <h1>Your vacation Awaits</h1>
              <h4>
                Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit.
              </h4>
              <button type="button" class="btn btn-default">
                Choose a package
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End-->

  <!----resort-overview--->
  <section class="resort-overview-block">
    <div class="container">
      <div class="row row-cols-2">
        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
          <div
            class="d-flex justify-conten-end flex-row-reverse flex-lg-row align-items-center"
          >
            <div class="product-thumb">
              <div class="image w-100">
                <a
                  ><img
                    src="/assets/images/category1.png"
                    class="img-responsive"
                    alt="image"
                /></a>
              </div>
            </div>
            <div class="product-desc-side">
              <h3><a>luxury spa</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
          <div class="d-flex justify-conten-end flex-row align-items-center">
            <div class="product-thumb">
              <div class="image">
                <a
                  ><img
                    alt="image"
                    class="img-responsive"
                    src="/assets/images/category2.png"
                /></a>
              </div>
            </div>
            <div class="product-desc-side">
              <h3><a>Beatusish ingl</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-right">
          <div class="d-flex justify-conten-end flex-row align-items-center">
            <div class="product-desc-side">
              <h3><a>luxury room</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
            <div class="product-thumb">
              <div class="image txt-rgt">
                <a class="arrow-left"
                  ><img
                    src="/assets/images/category3.png"
                    class="img-responsive"
                    alt="imaga"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 remove-padd-left">
          <div
            class="d-flex justify-conten-end flex-row-reverse flex-lg-row align-items-center"
          >
            <div class="product-desc-side">
              <h3><a>heaven seanery</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
            <div class="product-thumb txt-rgt">
              <div class="image">
                <a class="arrow-left"
                  ><img
                    src="/assets/images/category4.png"
                    class="img-responsive"
                    alt="imaga"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>

  <!---footer--->

  <!-- back to top-
    <a style="display: none;" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
        <span><i aria-hidden="true" class="fa fa-angle-up fa-lg"></i></span>
        <span>Top</span>
    </a> -->
</div>
