<div id="page">
  <!--hero block--->
  <div id="myCarousel1" class="carousel slide min-vh-100" data-ride="carousel">
    <!-- Indicators -->
    <div class="header-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="ps-lg-5 text-lg-start text-center mb-5">
              The Best Hotel <span>With The Best Deals</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner.png"
            class="w-100 min-vh-100"
            alt="Random first slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- 
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner2.png"
            class="w-100 min-vh-100"
            alt="Random second slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- <h2>Second slide label</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img
            src="/assets/images/banner3.png"
            class="w-100 min-vh-100"
            alt="Random third slide"
          />
        </div>
        <div class="carousel-caption">
          <!-- <h2>Third slide label</h2>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <!--End hero block-->

  <!--grating block--->
  <section class="grating container py-3">
    <div class="row row-cols-lg-2 row-cols-1 align-items-center h-100">
      <div class="col-lg-5 col grating_txt">
        <h1 class="pb-sm-4 pb-1">Welcome to Our hotel</h1>
        <p class="pb-sm-4 pb-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          minima, harum fuga, ipsam officia temporibus, nostrum et tempore
          consequuntur beatae consectetur. Necessitatibus minima, dignissimos
          quas ea soluta mollitia ab distinctio.
        </p>
        <button>Reade More -></button>
      </div>

      <div class="col-lg-7 col grating_picture">
        <img alt="image" class="img c-img1" src="/assets/images/banner.jpg" />
        <div class="second-img">
          <img alt="image" class="img c-img2" src="/assets/images/banner.png" />
        </div>
      </div>
    </div>
  </section>
  <!--End grating block-->

  <!--service block--->
  <section class="service-block">
    <div class="container c-services">
      <div class="row  ">
        <div class="col ">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/wifi.png"
              />
            </div>
            <h4><a>free wifi</a></h4>
          </div>
        </div>
        <div class="col ">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/key.png"
              />
            </div>
            <h4><a>room service</a></h4>
          </div>
        </div>
        <div class="col mt-25">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/car.png"
              />
            </div>
            <h4><a>free parking</a></h4>
          </div>
        </div>
        <div class="col mt-25">
          <div class="service-details text-center">
            <div class="service-image">
              <img
                alt="image"
                class="img-responsive"
                src="/assets/images/icons/user.png"
              />
            </div>
            <h4><a>customer support</a></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End service block-->

  <!--gallery block--->
  <section class="gallery-front">
    <div class="container">
      <div class="hedr text-center py-5">
        <h1>High Rating Rooms</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
          dolor illo consequatur deserunt reiciendis, sint nulla adipisci
          laudantium dignissimos sequi.
        </p>
      </div>
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 gy-md-2 gx-2 gy-4 justify-content-center py-4 ">
        <div class="col">
          <div class="gallery-image px-2">
            <img class="" src="/assets/images/banner.png" />
            <div class="mt-3 gallery-image_info px-1">
              <h2>Deluxe room</h2>
              <button class="d-flex align-items-center">
                Read More <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="gallery-image px-2">
            <img class="" src="/assets/images/banner2.png" />
            <div class="mt-3 gallery-image_info px-1">
              <h2>super room</h2>
              <button class="d-flex align-items-center">
                Read More <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="gallery-image px-2">
            <img class="" src="/assets/images/banner3.png" />
            <div class="mt-3 gallery-image_info px-1">
              <h2>Private Suite</h2>
              <button class="d-flex align-items-center">
                Read More <mat-icon>arrow_right_alt</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End gallery block-->

  <!--offer block-->
  <section class="vacation-offer-block">
    <div class="vacation-offer-bgbanner">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="vacation-offer-details">
              <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
                labore!
              </h1>
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12 text-md-end text-center">
            <a class="lnk-play-video"><img src="/assets/svgs/play.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End offer block-->

  <!----resort-overview--->
  <section class="resort-overview-block">
    <div class="container">
      <div class="row row-cols-lg-2 row-cols-1 gy-md-2 gy-4">
        <div class="col t">
          <div
            class="d-flex justify-conten-end flex-sm-row flex-column align-items-center"
          >
            <div class="product-thumb">
              <div class="image">
                <a
                  ><img
                    src="/assets/images/category1.png"
                    class="img-responsive"
                    alt="image"
                /></a>
              </div>
            </div>
            <div class="product-desc-side">
              <h3><a>luxury spa</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
          </div>
        </div>
        <div class="col remove-padd-left">
          <div class="d-flex justify-conten-end flex-lg-row flex-sm-row-reverse flex-column align-items-center">
            <div class="product-thumb">
              <div class="image">
                <a
                  ><img
                    alt="image"
                    class="img-responsive"
                    src="/assets/images/category2.png"
                /></a>
              </div>
            </div>
            <div class="product-desc-side">
              <h3><a>Beatusish ingl</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
          </div>
        </div>

        <div class="col t">
          <div class="d-flex justify-conten-end flex-lg-row-reverse flex-sm-row flex-column align-items-center">
            <div class="product-thumb">
              <div class="image txt-rgt">
                <a class="arrow-left"
                  ><img
                    src="/assets/images/category3.png"
                    class="img-responsive"
                    alt="imaga"
                /></a>
              </div>
            </div>
            <div class="product-desc-side">
              <h3><a>luxury room</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
           
          </div>
        </div>
        <div class="col remove-padd-left">
          <div
            class="d-flex justify-conten-end flex-sm-row-reverse flex-column align-items-center"
          >
          <div class="product-thumb txt-rgt">
            <div class="image">
              <a class="arrow-left"
                ><img
                  src="/assets/images/category4.png"
                  class="img-responsive"
                  alt="imaga"
              /></a>
            </div>
          </div>
            <div class="product-desc-side">
              <h3><a>heaven seanery</a></h3>
              <p>
                Lorem ipsum dolor sit amet, consec adipiscing elit. Nunc lorem
                nulla, ornare eu felis luctus non maximus vitae, portt neque.
                ipsum dolor sit amet, consec adipiscing elit.
              </p>
              <div class="links"><a>Read more</a></div>
            </div>
            
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
  <!--End resort-overview-->
</div>
