<section
  class="image-head-wrapper"
  style="background-image: url('assets/images/banner3.jpg')"
>
  <div class="inner-wrapper">
    <h1>About us</h1>
  </div>
</section>
<div class="clearfix"></div>

<section class="about-block">
  <div class="container">
    <div class="d-flex flex-column flex-lg-row gap-4">
      <div class="about-block_left">
        <div class="about-block_left_card">
          <img
            src="/assets/images/banner.png"
            class=""
            alt="Random first slide"
          />

          <p>Relax on your vacation on our hotel</p>
        </div>
        <div class="about-block_left_card rev">
          <img
            src="/assets/images/banner2.png"
            class=""
            alt="Random first slide"
          />
          <p>Find the Best Hotel in Your Next Vacation</p>
        </div>
      </div>
      <div class="about-block_right">
        <h3>About HotelHeaven</h3>
        <p>
          Welcome to HotelHeaven, where luxury meets comfort, and every stay is
          a memorable experience.our hotel is a beacon of sophistication and
          hospitality, offering an unparalleled blend of modern elegance and
          timeless charm.
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="about-block_services">
      <div class="about-block_services_top">
        <h1>Explore our services</h1>
        <p>
          At HotelHeaven, we pride ourselves on providing a sanctuary for
          travelers seeking a refined retreat. Our commitment to impeccable
          service, attention to detail, and a warm, welcoming atmosphere sets us
          apart as a premier destination for both leisure and business
          travelers.
        </p>
      </div>

      <div class="about-block_services_cards">
        <div class="about-block_services_cards_card">
          <h2>Free Wifi</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Coffee Maker</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Private Parking</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Restaurant</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Room Service</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Customer Support</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
        <div class="about-block_services_cards_card">
          <h2>Air Taxi Support</h2>
          <p>
            Stay seamlessly connected with our complimentary high-speed Wi-Fi
            service, ensuring you're always just a click away from work,
            entertainment, or keeping in touch with loved ones.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-block_inf">
    <div class="about-block_inf_img">
      <img src="/assets/images/banner2.jpg" alt="" />
    </div>
    <div class="about-block_inf_txt">
      <p>
        Our hotel boasts a range of facilities designed to cater to every need.
        From our fully-equipped fitness center and rejuvenating spa to versatile
        event spaces for conferences and celebrations, we provide the perfect
        backdrop for any occasion.
      </p>
      <a href="/rooms"> Book your Room </a>
    </div>
  </div>

  <div class="about-block_test">
    <div class="cotainer">

      <div id="myCarousel1" class="carousel slide " data-ride="carousel">
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="/assets/images/banner.png"
                class="w-100 min-vh-100"
                alt="Random first slide"
              />
            </div>
            <div class="carousel-caption">
              <!-- 
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="about-block_test_user">
        <div class="about-block_test_user_top">
          <img src="/assets/images/client1.png" alt="" />
          <h2>Jon Doe</h2>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut impedit
          maiores ipsum, fugiat eaque repudiandae, magnam delectus eum aliquam
          odio soluta minima ducimus sunt corporis at expedita unde dicta
          asperiores nemo. Explicabo magnam asperiores, cumque placeat nisi qui,
          quibusdam facilis dicta porro in, unde maxime quis aliquid. Explicabo
          harum natus soluta voluptate illo? Asperiores sunt quia deleniti
          eligendi velit reprehenderit sapiente beatae fuga cum tenetur impedit
          maiores, corrupti pariatur nam inventore repellendus blanditiis
          veritatis aperiam amet quam eveniet eum? Ea sit tempora cupiditate?
          Explicabo eum adipisci cumque quae odit voluptates sequi voluptas est
          asperiores dicta sed, blanditiis quia, alias porro!
        </p>
      </div>
    </div>
  </div>
</section>
